/**************通用样式配置开始*****************/
.w25{
  width:25% !important;
}

.w50{
  width:50% !important;
}
.w60{
  width:60% !important;
}
.w80{
  width:80% !important;
}

.w100{
  width:100%;
}

/**************通用样式配置结束*****************/

.sidebar { 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  z-index: 12;
  overflow-y: auto;
}
.sidebar a {
  font-size:14px
}
.sidebar span{
  font-size: 14px
}

.icon_right{
	float: right;
}

.welcome_box{
  margin: 60px auto;
  display: block;
}

.toptable{
  border:1px solid #cccccc;
  border-width:1px 0 0 1px;
  margin:15px auto 15px; 
  border-collapse: collapse;
}

.report_img{
  border-style: none;
  width: 60px;
  margin: 10px;
  float: left;
}

.toptable tr td{
  border-width: 0 1px 1px 0;
  border:1px solid #cccccc;

  text-align:center;
  font-weight: bold;
  padding: 10px;
}
.toptable tr th{
  border-width: 0 1px 0 0;
  border:1px solid #cccccc;
}
.toptable tr td:first-child{
  width:100px;
}

.toptable tr td:last-child{
  width:750px;
}

.imagesCell img{
    border-style: none;
    width: 180px;
    margin: 20px;
}
.assign_btn_cell{
  padding:10px;
}
.detail_title{
  font-size: 18px;
}
.handerName{
  float:left;
}

.handerName > span:first-child{
  margin-left:30px;
}
.handerName > span:last-child{
  margin-left:150px;
}

.InfoType{
  float:left;
  margin-top:10px;
  margin-left:20px;
}

.btn_right{
  margin-left: 15px;
}

.submit_btn{
  width:120px;
  height:30px;
  margin-bottom: 15px;
}

.bottom_btn{
  margin:20px;
}
.text_centet{
  text-align: center;
}

.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}
